.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  margin: 0;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  color:  #2F80ED;
  opacity: 1;
}

.feynman__link:hover {
  opacity: .5;
}
