@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.rotation {
  animation: rotation 20s linear infinite;
}

.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  position: relative;
  background-color:  #F2F2F2;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* background-size: contain; */
  contain: strict;
  /* parameters for the header section */
}

.logo {
  background-size: contain;
  background-repeat: no-repeat;
}

.logo_place_header {
  background-image: url("../images/logo_place_header.png");
  position:absolute;
  top: 30px;
  left: 64px;
  height: 31px;
  width: 154px;
}

.header__title {
  display: flex;
  margin-left: 64px;
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  z-index: 1;
}

.header__subtitle {
  width: 388px;
  position:absolute;
  bottom: 30px;
  left: 64px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 2;
}

.header__link {
  color: #2F80ED;
  text-decoration: none;
}

.header__main-illustration {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 608px;
  width: 756px;
  object-fit: contain;
  z-index: 1;
}

/* here we have two examples of selectors in order to remind you how to set styles for elements */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2F80ED;
  position: absolute;
  top: 64px;
  right: 0;
  z-index: 0;
  transform: rotate(-15deg);
  object-fit: fill;
}

/* .description {
  margin: 0;
} */

.two-columns {
  display: flex;
  flex-direction: row;
  margin: 100px auto 0;
  min-width: 784px;
  max-width: 80%;
  justify-content: space-between;
}

.two-columns__main-text {
  flex-direction: column;
  width: 80%;
}

.two-columns__brief {
  width: 175px;
  color: #2F80ED;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0 0 30px;
}

.two-columns__paragraph:last-of-type {
  margin: 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

.digits {
  display: flex;
  flex-direction: column;
  margin: 100px auto;
}

.section-title {
  width: 60%;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
  margin: auto;
  text-align: center;
}

.section-subtitle {
  text-align: center;
  width: 60%;
  line-height: 34px;
  font-weight: normal;
  font-size: 24px;
  margin: 20px auto 0;
}

.table {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 1100px;
  justify-content: space-between;
}

.table_theme_white {
  margin: 0 auto;
  padding: 0;
}

.table__cell {
  margin-top: 60px;
  width: 250px;
}

.table__heading {
  margin: 0 0 20px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}


.table__text {
  line-height: 1.12;
  font-size: 18px;
  font-weight: normal;
  margin: 0 0 20px;
}

.table__text:last-child {
  margin: 0;
}


.techniques {
  margin-top: 100px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  width: 920px;
  list-style: none;
  padding: 0;
  margin: 0 auto 100px;
  align-items: baseline;
  gap: 60px 100px;
}

.section-title_modifier {
  line-height: 1.15;
}

.cards__item {
  display: flex;
  flex-direction: column;
  width: 240px;
  padding: 0;
  margin: 0;
  text-align: center;
  align-items: center;
}

.cards__image {
  margin-bottom: 43px;
  padding: 0;
  height: 160px;
  width: 160px;
  border-radius: 50%;
}

.cards__title {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin: 0;
  margin-bottom: 16px;
}

.cards__description {
  margin: 0;
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
  text-align: center;
}

.video {
  width: 80%;
  margin: 100px auto 0;

}

.video__iframes {
  display: flex;
  position: relative;
  top: 50px;
  justify-content: center;
  z-index: 1;
}

.video__iframe {
  width: 515px;
  height: 316px;
  margin-right: 20px;
  border: 0;
}

.video__iframe:last-of-type {
  margin-right: 0;
}

.oakley {
  background-color: #F2F2F2;
  position: relative;
  padding: 160px 0 80px;
  z-index: -1;
}

.khan {
  padding-top: 105px;
  margin-top: 100px;
  background-color: #F2F2F2;

}

.khan__container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}

.khan__author {
  padding: 0;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
}

.khan__title {
  padding: 0;
  margin:0 0 50px;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.khan__quote {
  width: 790px;
  margin:0 0 36px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.khan__quote-author {
  margin: 0 0 10px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.khan__quote-author-subline {
  margin: 0 0 68px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
}

.khan__book-container {
  display: flex;
  flex-basis: 200px;
  overflow: hidden;
  margin-right: 48px;
}

.khan__book-pic {
  object-position: top;
  object-fit: cover;
  width: 620px;
  height: 608px;
}

.khan__buy-link {
  margin: 0;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  text-decoration: none;
  color: #2F80ED;
}

.feynman {
  background-color: #F2F2F2;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 790px;
  padding: 100px 0;
}

.feynman__image {
  position: absolute;
    bottom: 0;
    left: 0;
  max-width: 867px;
  max-height: 637px;
}

.feynman__title {
  width: 775px;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  z-index: 1;
  margin-bottom: 70px;
  margin-top: 0px;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 1;
  text-align: center;
  margin: 0;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  margin: 0;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  color:  #2F80ED;
}

.kaufman {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  color:white;
  background-color:  #1F1F1F;
  padding-bottom: 90px;
}

.section-title_theme_dark {
  width: 60%;
  text-align: center;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
  margin: 90px auto 20px;
  z-index: 1;

}

.section-subtitle_theme_dark {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0 auto;
  z-index: 1;

}

/* including elements with key-value modifiers */
.table__cell_theme_dark {
  width: 200px;
  color: rgb(54, 47, 47);
  margin-top: 80px;
}


.table__text_theme_dark {
  color: white;
  padding: 0;
  margin: 0;
}

.table__heading_theme_dark {
  color: white;
  margin: 0 0 20px;
}
.table_theme_dark {
  margin: auto;
  padding: 0;
  z-index: 1;
}


.kaufman__triangle {
  position: absolute;
  background-image: url("../images/kaufman-triangle.svg");
  right: -124px;
  top: 0;
  width: 660px;
  height: 636px;
  z-index: 0;
}


.resources {
  padding: 100px 0 217px;
}

.resources__logo-zone {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  margin: 80px auto 0;
  width: 110px;
}

.resources__logo {
  margin: 0;
}

.resources__logo-image {
  width: 270px;
  height: 38px;
}

.footer {
  display: flex;
  color: white;
  background-color:  #1F1F1F;
  padding-bottom: 40px;
  padding-top: 60px;
  min-height: 350px;
}

.footer__columns {
  position: relative;
  width: 90%;
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  justify-content: space-between;
}

.footer__column_content_copyright {
  display: flex;
  flex-basis: 711px;
  flex-direction: column;
  justify-content: space-between;
}

.logo_place_footer {
  background-image: url("../images/logo_place_footer.png");
  height: 35px;
  width: 183px;
  justify-content: flex-start;
}

.footer__author {
  padding: 18px 0 18px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}

.footer__column_content_about {
  display: flex;
  flex-direction: column;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 20px;
}

.footer__list {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  padding: 0;
  list-style: none;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.footer__column_content_social {
  display: flex;
  flex-direction: column;
}

.footer__social-icons {
height: 16px;
width: 16px;
text-decoration: none;
margin-right: 10px;
}

.footer__column-link {
  color: white;
  text-decoration: none;
}
