.khan__buy-link {
  margin-left: 48px;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  text-decoration: none;
  color: #2F80ED;
  opacity: 1;
  transition: opacity .5s linear;
  align-self: flex-start;
}

.khan__buy-link:hover {
  opacity: .5;
}
